$color : red;

body{
    background-color:#121214;
    color: white;
    h1
    {
        color :$color;
    }

    img
    {
        width: 80%;
        margin: auto;
        display: block;
    }
}

